data/clean_competitor_market_prices_gas.csv
data/clean_competitor_market_prices_power.csv
data/competitor_market_prices_gas.csv
data/competitor_market_prices_power.csv
data/eex_gas_d.csv
data/eex_gas_m.csv
data/eex_gas_q.csv
data/eex_gas_s.csv
data/eex_gas_ss.csv
data/eex_gas_sw.csv
data/eex_gas_w.csv
data/eex_gas_wkd.csv
data/eex_gas_y.csv
data/eex_power_base_d.csv
data/eex_power_base_m.csv
data/eex_power_base_q.csv
data/eex_power_base_w.csv
data/eex_power_base_wkd.csv
data/eex_power_base_y.csv
data/eex_power_peak_d.csv
data/eex_power_peak_m.csv
data/eex_power_peak_q.csv
data/eex_power_peak_w.csv
data/eex_power_peak_wkd.csv
data/eex_power_peak_y.csv
data/eex_spot_gas.csv
data/epex_spot_power.csv
data/.ipynb_checkpoints/eex_gas_s-checkpoint.csv
data/.ipynb_checkpoints/eex_gas_y-checkpoint.csv
data/.ipynb_checkpoints/eex_power_base_wkd-checkpoint.csv
data/.ipynb_checkpoints/eex_power_base_y-checkpoint.csv
data/.ipynb_checkpoints/eex_power_peak_wkd-checkpoint.csv
data/.ipynb_checkpoints/eex_power_peak_y-checkpoint.csv
data/.ipynb_checkpoints/eex_spot_gas-checkpoint.csv
data/.ipynb_checkpoints/epex_spot_power-checkpoint.csv
